:root{
    /* Theme colors */
    --primary-color: rgb(253, 253, 255);
    --bg-color: #5d39ff;
    --pink: #ff0077;
    --text-color: #232323;
    --body-color: #f4f4f8;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.btn:focus, .btn:active, .btn.active, .btn:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a{
    text-transform: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}
a:hover{
    color: var(--bg-color);
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 12.5px;
}
::-webkit-scrollbar-track{
    scroll-margin-block: 1px;
}
::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    border: 2px solid var(--body-color);
    background-color: #858585;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #adadad;
}
img{
    object-fit: cover;
    object-position: center center;
    width:100%;
    height:100%;
}
.rounded-edges{
    border-radius: 0.5rem;
}
.rounded-btn{
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    background-color: var(--bg-color);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    color: var(--primary-color);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.text-purple{
    color: var(--bg-color);
}
.bg-pink{
    background-color: var(--pink);
}
.bg-aqua{
    background-color: rgb(0, 206, 206);
}
.content-wrapper{
    position: relative;
    min-height: 100vh;
}
.body-color{
    background-color: var(--body-color);
}
form i{
    color: #3f3f3f;
}
.round-input{
    border-width: 0.1px;
    font-size: 0.85rem;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}
.navbar{
    font-size: 0.75rem;
    color: #232323;
    background-color: var(--bg-color);
}
.intro-navbar{
    min-height: 2.5rem;
}
@media (min-width:576px){
    .intro-navbar{
        height: 2.7rem;
    }
}
.intro-navbar a{
    color: #fff;
}
.navbar-toggler{
    margin-top: 0;
}
.navbar-toggler .navbar-toggler-icon{
    margin-bottom: 5px;
    display: block;
    background-color: var(--pink);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    width: 22px;
    height:1px;
}
.jumbo-con{
    min-height: 100vh;
    padding-top: 3px;
}
.jumbotron{
    border-radius: 0.70rem;
    background-color: var(--bg-color);
    margin-top: 4.4rem;
    margin-bottom: 4.9rem;
}
@media (max-width:576px){
    .login{
        padding: 2rem;
    }
}
.feature-icon p, #login label{
    font-size: 0.85rem;
    color: #fff;
}
.feature-icon i{
    color: #fff;
}
.owl-dots .owl-dot, button.navbar-toggler {
    outline: none;
}
button.owl-dot span{
    background-color: var(--primary-color) !important;
}
button.owl-dot.active span{
    background-color: var(--pink) !important;
}
.redirect{
    font-size: 0.85rem;
}
a.account-redirect{
    color: var(--pink);
}
span.form-icon{
    position: absolute;
    margin-left: 1rem;
    height:calc(1.5em + .70rem);
    display: flex;
    align-items: center;
  }
.form-row .account-form {
    border: none;
    padding-left: 2.375rem;
    border-color: #7e7e7e;
    color: var(--text-color);
}
.secondary-btn{
    background-color: var(--pink);
    color: var(--body-color);
}
.secondary-btn:hover{
    background-color: transparent;
    border: 1.8px solid var(--pink);
    color: #fff;
}
.secondary:focus, .regular-btn:focus, .form-control:focus{
    -webkit-box-shadow: none ;
    -moz-box-shadow: none ;
    -ms-box-shadow: none ;
    -o-box-shadow: none ;
    box-shadow: none;
}
.checkbox-control, .default-checkbox{
    display: none;
}
.checkbox-group:hover > .custom-checkbox, .default-checkbox:checked + .custom-checkbox{
    border-color: var(--pink);
}
.custom-checkbox{
    width: 0.8rem;
    height: 0.8rem;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    border-radius: 10%;
    border: 1px solid #fff;
    margin-right: 0.5em;
}
.custom-checkbox::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f14a";
    display: inline-block;
    color: var(--pink);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.default-checkbox:checked + .custom-checkbox::before{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.default-checkbox:checked + .custom-checkbox{
    border: 0;
    background-color: #fff;
}
#main-navbar{
    /* padding: 0.1rem 0.5rem; */
    min-height: 3.5rem;
}
#main-navbar a.nav-link{
    color: var(--bg-color);
}
#main-navbar .navbar-toggler .navbar-toggler-icon{
    background-color: var(--bg-color);
}
#main-navbar .toggler-nav{
    margin-left: 5.5rem;
    transition: all ease-in .3s;
}
#main-navbar .toggler-nav.active{
    /* margin-left: 8.5rem; */
}
#main-navbar .primary-btn:hover{
    background-color: transparent;
    border: 1.8px solid var(--bg-color);
    color: var(--bg-color);
}
#main-navbar #account-overview .dropdown-item{
    color: #616161;
    font-size: 0.9rem;
}
#main-navbar #account-overview .dropdown-item:hover{
    color: var(--bg-color);
}
#main-navbar #account-overview .dropdown-item i{
    font-size: 0.9rem;
}
#notification-dropdown ::-webkit-scrollbar{
    width: 10px;
}
#notification-dropdown ::-webkit-scrollbar-thumb{
    border: none;
    background-color: #fff;
}
#notification-dropdown:hover ::-webkit-scrollbar-thumb{
    border: 2px solid var(--body-color);
    background-color: #858585;
}
#notification-dropdown{
    width: 20rem;
    max-height: 23rem;
    border-radius: 0.5rem;
    overflow: hidden;
}
.dropdown-header{
    cursor: default;
}
.dropdown-header span{
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.notification-list{
    max-height: 15rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}
.notification-list span{
    line-height: 1.2rem;
}
.notifications-link{
    color: #616161;
}
.notifications-link:hover{
    color: var(--bg-color);
    background-color: #fff !important;
}
.notification-icons-wrapper{
    width: 2rem;
    height: 2rem;
}
.notification-icons-wrapper i{
    object-fit: contain;
}
@media (max-width:576px) {
    #main-navbar .toggler-nav{
        display: none;
    }
}
/* .sidemenu-toggle{
    display: inline-block;
    cursor: pointer;
}
.toggle-input{
    display: none;
}
.toggle-input:checked ~ .toggle-bg{
    background-color: var(--bg-color);
}
.toggle-input:checked + .toggler-nav{
    margin-left: 3rem;
}
.toggle-bg{
    position: relative;
    width: 2.2rem;
    height: 1.1rem;
    background-color: #acacac;
    border-radius: 3rem;
    transition: background .2s;
    display: flex;
    align-items: center;
}
.toggle-bg::after{
    content: "";
    position: absolute;
    border-radius: 50%;
    height: 0.85rem;
    width: 0.85rem;
    left: 0.15rem;
    background-color: #fff;
    transition: transform ease-in 0.2s;
}
.toggle-input:checked ~ .toggle-bg::after{
    transform: translateX(1.1rem);
} */

#main-navbar .navbar-nav li a{
    padding: 0.4rem 1rem;
    line-height: 1.8rem;
    margin-left: 0;
}
#main-navbar i{
    font-size: 1.2rem;
}
.notification{
    position: relative;
    cursor: pointer;
}
.notification-badge{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    background: var(--pink);
    color: var(--body-color);
}
.profile-pic{
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
}

/* sidebar styling */
#sidebar{
    background-color: var(--bg-color);
    height: 100%;
    overflow-x: hidden;
    z-index: 1050;
    width: 6.5rem;
    transition: all ease-in .3s;
}
/* #sidebar.menu-verbose, #sidebar.menu-verbose .sidemenu{
    width: 4rem;
    transition: all ease-in .3s
} */
.sidemenu{
    position: fixed;
    background-color: var(--bg-color);
    overflow-x: hidden;
    z-index: 1050;
    height: 100vh;
    width: 6rem;
    transition: all ease-in .3s;
}
@media (max-width:992px) {
    #sidebar, #sidebar .sidemenu{
        z-index: 1020; 
        /* transform: translateX(-100%);  */
        display: none;
    }
    #sidebar.active, #sidebar.active .sidemenu{
        /* transform: translateX(0); */
        transition: all ease-in .3s;
        width: 6rem;
        display: block;
    }
}
#sidebar .navbar-nav li{
    width: 4rem;
    height: 4rem;
    padding: 0;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
}
#sidebar .navbar-nav li:not(:first-child) a i{
    margin-bottom: 0.4rem;    
}
#sidebar .navbar-nav li.active{
    background-color: #fff;
}
#sidebar .navbar-nav li{
    margin-bottom: 0.65rem;
}
#sidebar .navbar-nav li:nth-child(1){
    width: 4rem;
    height: 4rem;
    /* margin-bottom: 1rem; */
}
#sidebar .navbar-nav li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    
}
#sidebar .navbar-nav li a i{
    font-size: 0.95rem;
}
#sidebar .navbar-nav li a span{
    font-size: 0.7rem;
    /* line-height: 1.8rem; */
}
#sidebar .navbar-nav li:not(:first-child):hover a i{
    /* transform: scale(1.4);
    transition: transform .2s; */
}
/* #sidebar .navbar-nav li.active a::before{
    content: '';
    position: absolute;
    border-radius: 0.5rem;
    background: transparent;
    right: 0;
    top: -20px;
    width: 20px;
    height: 20px;
    box-shadow: 10px 10px 0 1px var(--body-color);
    pointer-events: none;
} */
#sidebar .navbar-nav li:not(:first-child):hover a{
    color: var(--pink);
}
/* #sidebar .navbar-nav li.active a::after{
    content: '';
    position: absolute;
    border-radius: 0.5rem;
    background: transparent;
    right: 0;
    bottom: -20px;
    width: 20px;
    height: 20px;
    box-shadow: 10px -10px 0 1px var(--body-color);
    pointer-events: none;
} */
#sidebar .navbar-nav li.active a{
    color: var(--bg-color);
}
/* content section styling */
#main{
    margin: 5rem 0.5rem 0.5rem;
    padding: 0.5rem;
    width: 100%;
    min-height: 100vh;
}
#stats .col .bg-white{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
#stats .col div:nth-child(2){
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.danger-percentage{
    /* background-color: #e69dbf;
    border-radius: 0.2rem;
    padding: 0.2rem; */
    /* font-size: 0.5rem; */
    color: #ff0077;
}
.success-percentage{
    /* background-color: #82aca2;
    border-radius: 0.2rem;
    padding: 0.2rem;
    font-size: 0.5rem; */
    color: #0cb675;
}
.dollar{
    font-size: 0.85rem;
}
.bg-purple{
    background-color: var(--bg-color);
}
.pie-container{
    position: relative;
    width: 150px;      
}
.pie-container .pie-progress-bar{
    position: relative;
}
.pie-progress-bar svg{
    width: 150px;
}
.pie-progress-bar .percentage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pie-progress-bar svg circle{
    height: 150px;
    width: 150px;
    fill: none;
    stroke-width: 1rem;
    stroke: #f1f1f1;
    transform: translate(10px, 10px);
    stroke-linecap: round;
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}
.pie-progress-bar svg.conversion-rate circle:nth-child(1){
    stroke: var(--body-color);
    stroke-dashoffset: 0;
}
.pie-progress-bar svg.conversion-rate circle:nth-child(2){
    stroke: var(--bg-color);
    stroke-dashoffset: calc(440 - (440 * 73) / 100);
}
.pie-progress-bar svg.cart-abandonment circle:nth-child(1){
    stroke: var(--body-color);
    stroke-dashoffset: 0;
}
.pie-progress-bar svg.cart-abandonment circle:nth-child(2){
    stroke: var(--bg-color);
    stroke-dashoffset: calc(440 - (440 * 57) / 100);
}
/* best sellers section styling */
#best-sellers a{
    color: #858585;
    font-weight: normal;
}
#best-sellers a.active{
    color: var(--bg-color) !important; 
}
.best-product-img{
    width: 3.8rem;
    height: 3.8rem;
    overflow: hidden;
}
.progress{
    border-radius: 0.5rem;
    height: 0.45rem;
}
.round-progress{
    border-radius: 0.5rem ;
    background-color: var(--bg-color);
}
img.country-flag{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 60px;
}
a.add-product{
    padding-left: 1rem;
    padding-right: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--bg-color);
    border-radius: 0.3rem;
    color: #fff;
}
#table-search input{
    /* border: none; */
    border-color: var(--bg-color);
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    /* background-color: #e7e7e7; */
}
#table-search button{
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}
table {
    border-collapse: separate;
    border-spacing: 0rem 1rem;
  }
tbody tr td:first-child{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
tbody tr td:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
tbody tr{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#orders-table td img{
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
}
#orders-table td{
    font-weight: bold;
}
i#action-toggle{
    font-size: 1.5rem;
}
i#action-toggle:hover{
    color: var(--bg-color) !important;
}
.action-icon{
    width: 2rem;
    height: 2rem;
}
#action-dropdown .dropdown-item:hover{
    color: var(--bg-color);
}
.order-section ::-webkit-scrollbar{
    height: 10px;
}
.status-badge{
    min-width: 6rem;
}
.footer-section{
    height: 2.7rem;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--bg-color);
    font-size: 0.75rem;
    position: absolute;
    overflow: hidden;
}